<div class="container py-5">
    <h3 class="text-center mb-5" style="color: rgb(29,52,84);"><strong>Veuillez changer votre mot de passe provisoire</strong></h3>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <h6 class="text-center mb-4">Changement du mot de passe</h6>
                            <form class="form-card" #ClientChangePassForm="ngForm" (ngSubmit)="changePasswordClicked()">
                                <div *ngIf="(NewPassword.touched && !NewPassword.valid)">
                                    <div class="alert alert-danger m-3" *ngIf="(NewPassword.errors && NewPassword.errors.required)">Le champ Nouveau mot de passe est requis</div>
                                    <div class="alert alert-danger m-3" *ngIf="(NewPassword.errors && NewPassword.errors.pattern)">Format invalide pour le nouveau mot de passe : il doit contenir uniquement des lettres et des chiffres</div>
                                </div>
                                <div *ngIf="(ConfirmPass.touched && !ConfirmPass.valid)">
                                    <div class="alert alert-danger m-3" *ngIf="(ConfirmPass.errors && ConfirmPass.errors.required)">Le champ Confirmer le mot de passe est requis</div>
                                </div>
                                <div *ngIf="ConfirmPass.value != null && ConfirmPass.touched">
                                    <div class="alert alert-danger m-3" *ngIf="!(NewPassword.value == ConfirmPass.value)">Erreur : Les champs de mot de passe ne correspondent pas !</div>
                                </div>
                                <div class="mb-3 form-group">
                                    <label class="form-control-label">Mot de passe</label>
                                    <input type="text " class="form-control" [(ngModel)]="changePasswordRequestClient.newPassword" #NewPassword="ngModel" id="NPassword" name="NewPassword" required pattern="[a-zA-Z0-9]+">
                                </div>
                                <div class="mb-3 form-group">
                                    <label class="form-control-label">Confirmer votre mot de passe</label>
                                    <input type="text " class="form-control" ngModel #ConfirmPass="ngModel" id="ConfirmPass" name="ConfirmPass" [disabled]="!(NewPassword.touched && NewPassword.valid)" required pattern="[a-zA-Z0-9]+">
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary d-block w-100" [disabled]="!(NewPassword.value == ConfirmPass.value && ClientChangePassForm.valid)">Valider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>